<h1>Pirate!</h1>

<h2><%= @pirate.name %></h2>
<h2><%= @pirate.height %></h2>
<h2><%= @pirate.weight %></h2>

<h1>Ships!</h1>

<% @ships.each do |ship| %>
  <div class="ship">

    <h2><%= ship.name %></h2>
    <h2><%= ship.type %></h2>
    <h2><%= ship.booty %></h2>

  </div>
<% end %>


<h1>Ship 2!</h2>
